<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <h1>THE CURRENT TIME AND DATE</h1>
        <div class="row">
            <div class="col-md-8">
                <h2>{{time}}</h2>
                <h2>{{hour}}</h2>
            </div>
        </div>
    </div>
</body>
</html>